/**
 *
 *
 *
 *
 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  color: #fff;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #3C3B3B;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  color: #3C3B3B;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.bg-primary {
  background: #F1F3FF !important;
}

.bg-secondary {
  background-color: #D2009C !important;
}

p,
.lw-loveria-para {
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  color: #777575;
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  h2,
  h2 div {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  p,
  .lw-loveria-para {
    font-size: 15px;
  }
}

.lw-loveria-border {
  border: 3px solid #D2009C;
  width: 12rem;
  border-radius: 50px;
}

.lw-loveria-divider {
  width: 10%;
  border-radius: 50px;
  margin: auto;
  float: left;
  border: 3px solid #D2009C;
}

.btn {
  padding: 1rem 1rem;
  font-family: "Varela Round", sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #D2009C;
  border-color: #D2009C;
}

.btn-primary:hover {
  background-color: #fff;
  color: #D2009C;
  border: 1px solid #D2009C;
}

.lw-loveria-mx-auto {
  margin-left: auto !important;
}

.lw-logo-img {
  height: 80px !important;
  max-width: 60vw !important;
}

.lw-header {
  height: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/imgs/home-banner/lw-main-image.jpg");
}

#mainNav {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background-color: rgb(0 0 0 / 85%);
  font-family: "Varela Round", sans-serif !important;
}

/* Change navbar styling on scroll */
.nav-link {
  color: #fff;
  padding: 10px 20px !important;
}

.nav-link:hover {
  color: #D2009C !important;
  text-decoration: none;
}

.navbar.active {
  background-color: #e000a04d;
  -webkit-backdrop-filter: blur(2px) grayscale(0.4);
          backdrop-filter: blur(2px) grayscale(0.4);
  color: #D2009C;
}

.navbar.active .nav-link {
  color: #fff;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #3c3b3ba3 !important;
    -webkit-backdrop-filter: blur(2px) grayscale(0.4) !important;
            backdrop-filter: blur(2px) grayscale(0.4) !important;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #fff;
  }
}

.lw-loveria-toogle {
  border: 1px solid #D2009C;
  padding: 10px !important;
}

button.navbar-toggler.navbar-toggler-right.lw-loveria-toogle {
  color: #D2009C;
  font-family: "Varela Round", sans-serif !important;
  font-size: 16px;
}

.lw-loveria-demo {
  height: 40vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/imgs/demo/lw-loveria-couple-demo.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imgs/demo/lw-loveria-couple-demo.jpg");
}

.lw-loveria-demo h3 {
  color: #fff;
  text-transform: capitalize;
}

.lw-loveria-demo i.lw-loveria-play-icon.bi.bi-play-fill {
  color: #D2009C;
  font-size: 30px;
  padding: 5px 2px;
}

.lw-loveria-demo i.lw-loveria-play-icon.bi.bi-play-fill:hover {
  color: #fff;
}

.lw-loveria-demo .video-btn {
  background: transparent;
  border: 2px solid #D2009C;
  /* padding: 10px !important; */
  border-radius: 50%;
}

.lw-loveria-demo .video-btn:hover {
  color: #fff;
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.btn-close {
  position: absolute;
  right: -30px;
  top: 0;
  color: #fff !important;
  opacity: 1;
}

@media (max-width: 767px) {
  .lw-loveria-demo h3 {
    text-align: center !important;
  }
  .lw-loveria-demo .lw-loveria-video {
    text-align: center;
  }
}

.lw-loveria-feature-section .lw-loveria-feature-icon {
  color: #e0009f;
  font-size: 2rem;
  padding-right: 7px;
}

.lw-loveria-feature-section p.px-4.mx-3 {
  margin-top: -10px;
}

.lw-loveria-tech-server .lw-loveria-divider {
  width: 10%;
  border-radius: 50px;
  margin-left: 12px;
  float: left;
  border: 3px solid #D2009C;
}

.lw-loveria-tech-server .lw-loveria-feature-icon {
  color: #e0009f;
  font-size: 2rem;
  padding-right: 7px;
}

.lw-loveria-tech-server h4 {
  font-size: 16px;
}

.lw-loveria-pro-section .lw-loveria-theme,
.lw-loveria-pro-section .lw-loveria-wallet,
.lw-loveria-pro-section .lw-loveria-advertisement,
.lw-loveria-pro-section .lw-loveria-payment,
.lw-loveria-pro-section .lw-loveria-robust-admin,
.lw-loveria-pro-section .lw-loveria-messenger,
.lw-loveria-pro-section .lw-loveria-translation {
  height: 35vh;
  min-height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lw-loveria-pro-section .lw-loveria-theme {
  background-image: url("../assets/imgs/pro-details/screenshot 1.png");
}

.lw-loveria-pro-section .lw-loveria-wallet {
  background-image: url("../assets/imgs/pro-details/screenshot 2.png");
}

.lw-loveria-pro-section .lw-loveria-advertisement {
  background-image: url("../assets/imgs/pro-details/screenshot 3.png");
}

.lw-loveria-pro-section .lw-loveria-payment {
  background-image: url("../assets/imgs/pro-details/screenshot-4.png");
}

.lw-loveria-pro-section .lw-loveria-robust-admin {
  background-image: url("../assets/imgs/pro-details/screenshot-5.png");
}

.lw-loveria-pro-section .lw-loveria-messenger {
  background-image: url("../assets/imgs/pro-details/screenshot-6.png");
}

.lw-loveria-pro-section .lw-loveria-translation {
  background-image: url("../assets/imgs/pro-details/screenshot-7.png");
}

.lw-loveria-testimonials {
}

.lw-loveria-testimonials .lw-loveria-quote {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 150px;
  color: #e000a04d;
}

.lw-loveria-testimonials .lw-loveria-review {
  color: #3C3B3B;
  font-size: 16px;
  margin-top: -95px;
}

.lw-loveria-testimonials .lw-loveria-review-author {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  color: #3C3B3B;
}

.lw-loveria-testimonials .owl-carousel .owl-dots.disabled {
  display: block !important;
}

.lw-loveria-testimonials .owl-theme .owl-dots .owl-dot span {
  border: 8px solid #D2009C;
  width: 20px;
  height: 20px;
  color: #fff;
}

.lw-loveria-testimonials .owl-theme .owl-dots .owl-dot.active span,
.lw-loveria-testimonials .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #3C3B3B;
}

.lw-loveria-newsletter .form-control {
  background: #F8FBFD !important;
  font-family: "Varela Round", sans-serif !important;
  color: #D2009C;
  border-radius: 0 !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.lw-loveria-newsletter .form-control:focus {
  border-color: #edaadf !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0.25rem #edaadf !important;
          box-shadow: 0 0 0 0.25rem #edaadf !important;
}

.lw-loveria-newsletter input {
  font-family: "Varela Round", sans-serif !important;
  font-weight: 300 !important;
}

.lw-loveria-newsletter .lw-loveria-custom-form {
  position: relative;
}

.lw-loveria-newsletter .lw-loveria-custom-form button.lw-loveria-btn {
  position: absolute;
  top: -74px;
  padding: 6px 10px;
  right: -50px;
  border: 1px solid #ced4da;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: #D2009C;
}

.lw-loveria-newsletter .lw-loveria-custom-form button.lw-loveria-btn:hover {
  background-color: #3C3B3B;
  color: #D2009C;
}

.lw-loveria-newsletter .lw-loveria-custom-form button.lw-loveria-btn:focus {
  border-color: #edaadf !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0.25rem #edaadf !important;
          box-shadow: 0 0 0 0.25rem #edaadf !important;
}

.lw-loveria-newsletter .lw-loveria-custom-form i.bi.bi-caret-right {
  font-size: 30px;
  color: #fff;
}

@media (max-width: 767px) {
  .lw-loveria-mobile {
    position: relative;
    left: -20px;
  }
}

.lw-loveria-footer .lw-loveria-social-icon {
  color: #D2009C;
  font-size: 2.5rem;
}

.lw-loveria-footer .lw-loveria-social-icon:hover {
  color: #3C3B3B;
}

.lw-loveria-footer ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #D2009C;
}

.lw-loveria-footer ul.social-buttons li a:hover {
  background-color: #3C3B3B;
}

.lw-loveria-footer i.fab.fa-twitter,
.lw-loveria-footer i.fab.fa-linkedin-in {
  margin-left: 15px;
}

.lw-loveria-footer i.fab.fa-facebook-f {
  margin-left: 17px;
}

.lw-loveria-footer a.lw-footer-link p {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.lw-loveria-footer a.lw-footer-link p:hover {
  color: #D2009C;
}

@media (max-width: 767px) {
  a.lw-footer-link p {
    font-size: 14px;
  }
}

#mc_embed_signup {
    width: auto!important;
}