.lw-loveria-demo {
    height: 40vh;
    // min-height: 40vh;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/demo/lw-loveria-couple-demo.jpg');
    h3 {
        color: $whiteColor;
        text-transform: capitalize;
    }
    i.lw-loveria-play-icon.bi.bi-play-fill {
        color: $primaryColor;
        font-size: 30px;
        padding: 5px 2px;
        &:hover {
            color: $whiteColor;
        }
    }
    .video-btn {
        background: transparent;
        border: 2px solid $primaryColor;
        /* padding: 10px !important; */
        border-radius: 50%;
        &:hover {
            color: $whiteColor;
        }
    }
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.btn-close {
    position: absolute;
    right: -30px;
    top: 0;
    color: $whiteColor !important;
    opacity: 1;
}

@media(max-width:767px) {
    .lw-loveria-demo {
        h3 {
            text-align: center !important;
        }
        .lw-loveria-video {
            text-align: center;
        }
    }
}