.lw-loveria-feature-section {
    .lw-loveria-feature-icon {
        color: #e0009f;
        font-size: 2rem;
        padding-right: 7px;
    }
    p.px-4.mx-3 {
        margin-top: -10px;
    }
}

@media (min-width: 1400px) {}