.lw-loveria-testimonials {
    @import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
    .lw-loveria-quote {
        font-family: 'Lovers Quarrel', cursive;
        font-size: 150px;
        color: #e000a04d;
    }
    .lw-loveria-review {
        color: #3C3B3B;
        font-size: 16px;
        margin-top: -95px;
    }
    .lw-loveria-review-author {
        font-family: $headingFontFamily;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
        color: #3C3B3B;
    }
    .owl-carousel .owl-dots.disabled {
        display: block !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        border: 8px solid $primaryColor;
        width: 20px;
        height: 20px;
        color: $whiteColor;
        // background-color: $darColor;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background-color: $darColor;
    }
}